<!-- login.html -->
{% extends 'base.html' %}
{% block head_title %}Password Reset{% endblock %}
{% block content %}
<div class="form d-flex justify-content-center align-items-center mt-2">
    <div class="d-flex flex-column justify-content-center p-5 rounded rounded shadow-lg" style="width: 640px; background: #e0dddd;">
        <div class="text-center fw-bold mb-5 fs-1">
            <header>Reset your password!</header>
        </div>
        <p>Your new password has been set. You may go ahead and log in now. <br><a href="{% url 'login' %}">Login now!</a></p>
        
    </div>
</div>
{% endblock %}
