<!-- login.html -->
{% extends 'base.html' %}
{% block head_title %}Password Reset{% endblock %}
{% block content %}
<div class="form d-flex justify-content-center align-items-center mt-2">
    <div class="d-flex flex-column justify-content-center p-5 rounded rounded shadow-lg" style="width: 640px; background: #e0dddd;">
        <div class="text-center fw-bold mb-5 fs-1">
            <header>Reset your password!</header>
        </div>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. <br>

            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
</div>
{% endblock %}
