<!-- change_password.html -->
{% extends 'base.html' %}
{% block head_title %}Set Password{% endblock %}

{% block content %}
<div class="form d-flex justify-content-center align-items-center mt-2">
    <div class="d-flex flex-column justify-content-center p-5 rounded rounded shadow-lg" style="width: 640px;  background: #e9e8e8;">
        <div class="text-center fw-bold mb-3 fs-1">
            <header>Set new password</header>
        </div>
        <form style="width: 440px;" class="mx-auto" enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}
            <!-- Display form errors -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong> Please correct the following errors:
                <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            <!-- End of form errors -->

            <div class="input-box">
                <label for="id_new_password1">New Password:</label>
                <input type="password" id="id_new_password1" class="input-field" placeholder="Enter your new password" name="new_password1" autocomplete="off" required>
            </div>
            <div class="input-box">
                <label for="id_new_password2">Confirm New Password:</label>
                <input type="password" id="id_new_password2" class="input-field" placeholder="Re-enter your new password" name="new_password2" autocomplete="off" required>
            </div>
            <div class="mt-4">
                <input class="btn btn-outline-dark w-100 p-2 fw-bold" type="submit" value="Change Password">
            </div>
        </form>
    </div>
</div>
{% endblock %}
